*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", serif;
    padding-top: 125px;
}

.container{
    max-width: 1087px;
    width: 100%;
    margin: 0 auto;
}

h1{
    border-radius: 50px;
    box-shadow: 7px 12px 14px 0px rgba(0, 0, 0, 0.76);
    background: #000000;
    padding: 35px 82px;

    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-shadow: 6px 5px 6.5px #FFFFFF;
    margin: 0 auto;
    width: 880px;
    margin-bottom: 106px;
}

.sites{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sites__item{
    position: relative;

    h2{
        color: rgb(0, 0, 0);
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        text-align: center;
    }

    img{
        margin-bottom: 23px;
    }

    span{
        border-radius: 50%;
        background: #ff0000;
        padding: 18px 30px;
        position: absolute;
        right: -30px;
        top: -32px;
    
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
    }
}

.sites__item:nth-child(2){
    position: relative;

    img{
        margin-bottom: -15px;
    }

    span{
        border-radius: 50px;
        background: #ff0000;
        padding: 8px 30px;
        position: absolute;
        right: -30px;
        top: 0;
    
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
    }
}

.sites__item:nth-child(3){
    position: relative;

    img{
        margin-bottom: -15px;
    }

    span{
        border-radius: 50%;
        background: #ff0000;
        padding: 16px 30px;
        position: absolute;
        right: 0;
        top: 0;
    
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
    }
}
